@model RegisterViewModel


<form asp-action="Register" method="post">

    <div class="form-group">
        <label for="Email">Email:</label>
        <input asp-for="Email" maxlength="50" />
        <span asp-validation-for="Email"></span>
    </div>
    <div class="form-group">
        <label for="FirstName">First Name:</label>
        <input asp-for="FirstName" maxlength="50" />
        <span asp-validation-for="FirstName"></span>
    </div>
    <div class="form-group">
        <label for="LastName">Last Name:</label>
        <input asp-for="LastName" maxlength="50" />
        <span asp-validation-for="LastName"></span>
    </div>
    <div class="form-group">
        <label for="Password">Password:</label>
        <input asp-for="Password" maxlength="50" />
        <span asp-validation-for="Password"></span>
    </div>
    <div class="form-group">
        <label for="PasswordConfirm">Password:</label>
        <input asp-for="PasswordConfirm" maxlength="50" />
        <span asp-validation-for="PasswordConfirm"></span>
    </div>
    <button>Kayıt ol</button>
</form>


@section Scripts{
    <partial name="_ValidationScriptsPartial" />
}